
.add-icon {
  color: green;
}

#challengeDeleteModal {
  z-index: 2000;
}

.clickable {
  cursor: pointer;
}


.delete-icon:hover {
  color: red;
}

.display-inline {
  display: inline;
  margin: 20%;
}


.edit-icon:hover {
  color: yellow;
}


.edit-links-table {
  width: 70% !important; 
  margin: auto !important;
}

.flat-right {
  float: right;
}

.green {
  color: green;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}


