body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

div.right-col {
  background-color: #696767;
  padding: 20px;
  margin: 5px;
  min-height: 300px;
  width: 75%;
}

div.left-col {
  background-color: #696767;
  padding: 20px;
  margin: 5px;
  min-height: 300px;
}

div.link-container {
  background-color: white;
  margin: 10px;
  padding: 20px;
  font-size: 15px;
  width: 225px;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-size: 75%;
}

div.link-title {
  padding-top: 100px;
}

div.link-container:hover, .tab:hover {
  background-color: #e4f3c7;
}

.tab {
  background-color: white;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  font-size: 13px;
}

.active {
  border: 5px solid red;
}

.box-shadow {
  -webkit-box-shadow: 7px 10px 19px 0px rgba(0,0,0,0.38);
  -moz-box-shadow: 7px 10px 19px 0px rgba(0,0,0,0.38);
  box-shadow: 7px 10px 19px 0px rgba(0,0,0,0.38);
}