body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fafafa !important;
}

div.right-col {
  background-color: #696767;
  padding: 20px;
  margin: 5px;
  max-height: 400px;
  width: 75%;
  overflow: scroll;
}

div.left-col {
  background-color: #696767;
  padding: 20px;
  margin: 5px;
  max-height: 400px;
  overflow: scroll;
}

div.link-container {
  background-color: white;
  margin: 10px;
  padding: 20px;
  font-size: 15px;
  width: 225px;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-size: 75%;
}

.card .card-body{
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-size: 90%;
  height: 100px;
  margin-bottom: 7px;
}
div.link-title {
  padding-top: 100px;
}

.card .card-footer{
  background-color:rgba(0, 0, 0, 0.5);
  color: #fff;
  margin: 0 !important;
  text-align: center !important;
  display: inline-block;
  vertical-align: middle;
  padding: 3px !important;
}

.nav-link{
  text-transform: uppercase !important;
}

div.link-container:hover, .tab:hover {
  background-color: #e4f3c7;
}

.tab {
  background-color: white;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  font-size: 13px;
  text-transform: uppercase;
}

.footer{
  padding: 0 !important;
}

.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus, .dropdown-menu a:hover, .dropdown-menu a:focus, .dropdown-menu a:active{
  background-color: #789c3f;
}

.modal-table{
  display: table;
}

.navbar-brand{
  font-weight: bold !important;
}

.nav-clickable{
  cursor: pointer;
}

.copyright{
  font-size: small;
}
.sidebar[data-color="danger"] li.active > a{
  background-color: #789c3f;
}

#pocket-closed, #pocket-open{
  color: #789c3f;
  font-size: x-large;
}
.show #pocket-closed, #pocket-open{
  display: none;
}

.show #pocket-open{
  display: inline-block;
}

.box-shadow {
  -webkit-box-shadow: 7px 10px 19px 0px rgba(0,0,0,0.38);
  -moz-box-shadow: 7px 10px 19px 0px rgba(0,0,0,0.38);
  box-shadow: 7px 10px 19px 0px rgba(0,0,0,0.38);
}